name: Generate Snake Animation

on:
  # Run automatically every day at midnight
  schedule:
    - cron: "0 0 * * *"
  
  # Allows manual workflow dispatch
  workflow_dispatch:
  
  # Run on every push to main branch
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: Platane/snk@v3
        id: snake-svg
        with:
          github_user_name: YoussefMoHlemyAlpha
          outputs: |
            dist/github-contribution-grid-snake.svg
      
      # Push the generated files to the output branch
      - uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
